# Java build and output directories
bin/
tools/
target/
*.class

# IDE and Editor configurations
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# OS temporary files
.DS_Store
Thumbs.db

# Python virtual environment
.venv/
__pycache__/
*.pyc

# Local dependencies
lib/


#Test Reports
test_report.html
